table td{
    padding: 10px;
}
.cbLabel{
    font-size: 24px;
}
.cbInput{
    margin-left:20px;
    width: 500px;
    background-color: #f2f2f2;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    text-indent: 20px;
    font-size: 22px;
    color: black;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
}
.cbInput:focus{
    box-shadow: 1px 1px 8px #999999;
}
.cbInsertContent{
    margin-bottom: 30px;
}
.cbAdd{
    margin-left:-20px;
    width: 150px;
    background-color: #2c478e;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
    text-indent: 0px;
    cursor: pointer;
    font-weight: bold;
}
.cBAddright{
    float: right;
    margin-right:-20px;
}
.cbAddAtt{
    margin-left:20px;
    width: 150px;
    background-color: #2c478e;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
    text-indent: 0px;
    cursor: pointer;
    font-weight: bold;
}
.cbAdd:hover{
    background-color: white;
    color:#2c478e;
    box-shadow: 1px 1px 8px #999999;
}
.cbAdd:focus{
    box-shadow: 1px 1px 8px #999999;
}
.addFileArea a{
    text-decoration: none;
}
.cbPreviewNotice{
    margin:20px;
    padding: 20px;
    box-shadow: 0px 0px 8px #bbb;
    transition: box-shadow 0.6s;
    cursor: default;
}
#removeAtt{
    color:red;
}