.cbFunction{
    display: flex;
}
.cbAdd{
    background-color: #2c478e; 
    height: 28px;
    border-radius: 10px;
    text-indent: 20px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 5px #555;
    width: 300px;
    text-indent: 0px;
    padding-top: 4px;
    margin-right: 30px;
}
.cbAdd:hover{
    background-color: #1d3170; 
    color: white;
    box-shadow: 1px 1px 5px #222;
}
.cbFunction a{
    text-decoration: none;
}
.cbSearch{
    background-color: #f2f2f2;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    text-indent: 20px;
    font-size: 22px;
    color: black;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
    width: calc(100% - 180px);
}
.cbSearch:focus{
    box-shadow: 1px 1px 8px #999999;
}
.cbList table{
    width: 100%;
    box-shadow: 1px 1px 5px #aaa;
    cursor: default;
    transition:box-shadow 0.6s; 
}
.cbList table:hover{
    box-shadow: 0px 0px 8px #2c478e;
}
.cbList table,tr,td,th{
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
}
.cbList th{
    background-color: #f6f6f6;
}
.cbList td,th{
    padding: 15px;
}
.cbrlRequest{
    color: #2c478e;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.hidden{
    display:none;
}