.cbFPdetails{
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #aaa;
    transition:box-shadow 0.6s; 
}
.cbFPdetails:hover{
    box-shadow: 0px 0px 8px #2c478e;
}
table td{
    padding: 10px;
}

.cbfImage{
    width: 350px;
    height: 400px;
    margin: 8px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 8px #bbb;
}
.cbfImage img{
    border-radius: 8px;
    object-fit:contain;
}
.cbLabel{
    font-size: 24px;
}
.cbInput{
    background-color: #f2f2f2;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    text-indent: 20px;
    font-size: 22px;
    color: black;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
    width: 200px;
}
.cbInput:focus{
    box-shadow: 1px 1px 8px #999999;
}
.cBAddright{
    float:right;
}
.cbAdd{
    width: 150px;
    background-color: #2c478e;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    text-indent: 20px;
    font-size: 20px;
    color: white;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
    text-indent: 0px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
}
.cbAddExt{
    margin-left:calc(100% - 306px);
    display: inline-block;
}
.cbAdd:hover{
    background-color: white;
    color:#2c478e;
    box-shadow: 1px 1px 8px #999999;
}
.cbAdd:focus{
    box-shadow: 1px 1px 8px #999999;
}
.cbList{
    margin-bottom: 30px;
}
.cbPIList{
    width: 100%;
    box-shadow: 1px 1px 5px #aaa;
    cursor: default;
    transition:box-shadow 0.6s; 
    margin: 8px;
}
.cbPIList th{
    border: 2px solid #2c478e;
    background-color: #2c478e;
    color: white;
    font-size: 20px;
    border-collapse: collapse;
}
.cbPIList td,th{
    padding: 15px;
}
.cbrlRequest{
    color: #2c478e;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.cbOther{
    width: 47.5%;
    margin: 8px;
}
.otherList .cbLabel{
    font-size: 16px;
}