.cbFPdetails{
    display: flex;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #aaa;
    transition:box-shadow 0.6s; 
}
.cbFPdetails:hover{
    box-shadow: 0px 0px 8px #2c478e;
}
table td{
    padding: 10px;
}

.cbfImage{
    width: 30%;
    height: 300px;
    margin: 8px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 8px #bbb;
}
.cbfImage img{
    border-radius: 8px;
    object-fit:contain;
}
.cbLabel{
    font-size: 24px;
}
.cbInput{
    background-color: #f2f2f2;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    text-indent: 20px;
    font-size: 22px;
    color: black;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
    width: 200px;
}
.cbInput:focus{
    box-shadow: 1px 1px 8px #999999;
}
.cbAdd{
    width: 250px;
    background-color: #2c478e;
    border-width: 0px;
    outline-width: 0;
    height: 32px;
    border-radius: 10px;
    text-indent: 20px;
    font-size: 20px;
    color: white;
    box-shadow: 1px 1px 5px #cccccc;
    transition: box-shadow 0.8s;
    text-indent: 0px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}
.cBAddright{
    float: right;
    margin-right: 20px;
}
.cbAdd:hover{
    background-color: white;
    color:#2c478e;
    box-shadow: 1px 1px 8px #999999;
}
.cbAdd:focus{
    box-shadow: 1px 1px 8px #999999;
}
.cbList{
    margin-bottom: 30px;
}
.cbRoomList{
    width: 100%;
    box-shadow: 1px 1px 5px #aaa;
    cursor: default;
    transition:box-shadow 0.6s; 
}
.cbRoomList:hover{
    box-shadow: 0px 0px 8px #2c478e;
}
.cbList table{
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
}
.cbRoomList tr{
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
}
.cbRoomList td{
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
}
.cbRoomList th{
    border: 2px solid #2c478e;
    background-color: #2c478e;
    color: white;
    font-size: 20px;
    border-collapse: collapse;
}
.cbRoomList td,th{
    padding: 15px;
}
.cbrlRequest{
    color: #2c478e;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
.roomMappingArea {
    position:relative;
    overflow:hidden;
    z-index:0;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
}
.roomMappingArea > div {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0.5;
    background-color:white;
    cursor:pointer;
    transition-duration: 0.4s;
}
.room{
    animation: breathing 2.5s ease-out infinite normal;
}
@keyframes breathing{
    0% {
        background-color:white;
    }

    45% {
        background-color:blue;
    }

    100% {
        background-color:white;
    }
}