.hSpaceLeft{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 10px 0px;
}
.hSpaceRight{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 0px 10px;
}
.criteriaSearching p{
    font-size: 20px;
    font-weight: bold;
}
.facilitiesList table{
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px #aaa;
    cursor: default;
    transition:box-shadow 0.6s; 
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
}
.facilitiesList tr:hover{
    box-shadow: 0px 0px 8px #2c478e;
}
.facilitiesList thead{
    background-color: #aaa;
    color: white;
}
.facilitiesList caption{
    margin-bottom: 10px;
    font-size: 20px;
}
.facilitiesList td,th{
    border: 2px solid #f2f2f2;
    border-collapse: collapse;
    padding: 15px;
}
.facilitiesList a{
    text-decoration: none;
}
.facilitiesList a:hover{
    color:#0d98be;
    font-weight: bold;
}
.chTitle a{
    text-decoration: none;
    color: black;
}
.chTitle a:hover{
    color:#aaa;
    transition-duration: 0.6s;
}
.facilityPicSelection:hover{
    opacity: 0.5;
}
.centered {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: bold;
    display: none;
}
.selectionContainer{
    position: relative;
    color: white;
    margin: 1%;
    display: inline-block;
    min-width: 47%;
    min-height: 300px;
}
.container {
    color: white;
    margin: 1%;
    display: inline-block;
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}
.selectionContainer:hover > .centered{
    display: block;
}
.selectionContainer:hover > .container {
    opacity: 0.5;
}