.hSpaceLeft{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 10px 0px;
}
.hSpaceRight{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 0px 10px;
}
.facilityDetail{
    height: 400px;
}
.facilityDetail p{
    font-size: 20px;
}
.facilitiesList{
    display: inline-block;
    width: 58%;
    margin-left: 3%;
    margin-bottom: 5%;
}
.facilitiesList table{
    width: 100%;
    box-shadow: 3px 3px 5px #aaa;
    cursor: default;
    transition:box-shadow 0.6s; 
    border: 2px solid #aaa;
    border-collapse: collapse;
}
.facilitiesList tr:hover{
    box-shadow: 0px 0px 8px #2c478e;
}
.facilitiesList caption{
    margin-bottom: 10px;
    font-size: 20px;
}
.facilitiesList td,th{
    border: 1px solid #f2f2f2;
    border-collapse: collapse;
    padding: 15px;
}

input[type=date]{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
}
.facilitiesList th{
    background-color:#f2f2f2;
}
button {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: #0d98be;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    height: 45px;
    line-height: 16px;
    padding: 0 35px;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
    float: right;
}
button:hover{
    background-color:#879092;
}
.chTitle a{
    text-decoration: none;
    color: black;
}
.chTitle a:hover{
    color:#aaa;
    transition-duration: 0.6s;
}
.facilityPic{
    width:38%;
    height:300px;
    float: left; 
    border-radius: 12px; 
    box-shadow: 3px 3px 5px #aaa;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tblLabel{
    background-color: #aaa;
    color: white;
}