.hSpaceLeft{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 10px 0px;
}
.hSpaceRight{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 0px 10px;
}
.loginContent{   
    padding: 20px;
    margin-left: calc( calc(100vw - 540px) / 2 ); 
    margin-right: calc( calc(100vw - 540px) / 2 ); 
    min-height: calc(100vh - 84px);
    width: 500px;
    height: auto;
}
@media only screen and (max-width: 1000px) { 
    .registrationContent{
        margin-left:0px;
        margin-right:0px;
    }
}
.rgBody{
    background-color: rgba(70,141,190,0.6);   
}
.loginBody{
    min-height: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #cccccc;
    width: 100%;
}
.middleLoginPart button{
    margin-top: 10px;
    border-radius: 16px;
    background-color: #0d98be;
    border: 1px solid transparent;
    color: #fff;
    font-size: 16px;
    height: 40px;
    line-height: 16px;
    max-width: 300px;
    min-width: 100px;
    padding: 0 35px;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
}
.middleLoginPart button:hover{
    background-color:#879092;
}
.middleLoginPart a{
    text-decoration: none;
}
.middleLoginPart a:hover{
    color: #33ccff;
    transition-duration: 0.6s;
}
.formHeader {
    margin:20px;
}
.formHeader a{
    text-decoration: none;
    color:#33ccff;
}
.logo{
    margin-top: 50px;
    width: 100%;    
}
.formHeader a:hover{
    font-weight: bold;
}
input[type=text]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}
input[type=password]{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}
.middleLoginPart {
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottomLoginPart{
    margin-left: 15%;
    margin-right: 10%;
}
.bottomLoginPart label{
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}
.createAccountBtn button{
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 16px;
    background-color: white;    
    border: 1px solid #0d98be;
    color: #0d98be;
    font-size: 16px;
    height: 40px;
    line-height: 16px;
    max-width: 300px;
    min-width: 100px;
    padding: 0 35px;
    text-align: center;
    text-overflow: ellipsis;
    cursor: pointer;
    text-decoration: none;
}
.createAccountBtn button:hover{
    background-color: #0d98be;
    color: white;
}

@keyframes logoFadein{
	from{
            transform: translateY(-100%);
            opacity:0;
	} 
	to{
            transform: translateY(0);
            opacity:1;
	}
}

.cover{
    width: 30vw;
    height: 50vh;
    margin-left: 35vw;
    margin-top: 20vh;
    text-align: center;
    position: fixed;
    background-color: white;
    font-size: 38px;
    font-weight: 900;
    z-index: 2;
    border-radius: 20px;
    box-shadow: 0px 0px 50px grey;
    animation-name:logoFadein;
    animation-duration:1.5s;
}
.popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
}
.message{
    width: 80%;
    margin-left: 10%;
    font-size: 22px;
    text-align: center;
    cursor: default;
}
.popUpicon{
    width: 13vw;
    margin-top: 40px;
    margin-bottom: 20px;
}
