::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background-color: transparent;
}
html{
    overflow:scroll;
}
body{
    margin:0px;
    background-color: #f2f2f2;
    overflow: auto;
    font-family: Helvetica;
}
.header{
    min-width: 100vw;
    height: 64px;
    background-color: #f2f2f2;
    position: fixed!important;
    top:0px;
    left:0px;
    z-index: 2;
    cursor: default;
    display: flex;
    overflow-y: hidden;
}
.hCover{
    width:100%;
    background-color: #2c478e;
    display: flex;
}
.hSubcover{
    background-color: #f2f2f2;
}
.hSpaceF{
    width: 104px;
    height: 64px;
    background-color: #2c478e;
}
.spSubcover{
    background-color: #f2f2f2;
}
.hSpaceLeft{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 10px 0px;
}
.hSpaceRight{
    width: 10px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 0px 10px;
}
.hBG{
    padding-top: 1px;
    background-color: #2c478e;
}
.hBG:hover > .hOption{
    background-color: #f2f2f2;
    border-radius: 20px 20px 0px 0px;
    color: black;
}
.hOption{
    font-weight: bold;
    font-size: 22px;
    color: white;
    text-align: center;
    margin-top: 23px;
    padding-top: 15px;
    width: 230px;
    text-align: center;
}
.hChoose{
    background-color: #f2f2f2;
    border-radius: 20px 20px 0px 0px;
    color: black;
}
.hOption p{
    display:inline-block;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.sidePanel{
    height: calc(100vh - 64px);
    width: 74px;
    background-color: #f2f2f2;
    position: fixed!important;
    top:64px;
    left:0px;
    z-index: 0;
    cursor: default;
    overflow-x:hidden;
}
.spCover{
    height: 100%;
    background-color: #1d3170;
}
.sidePanel a{
    text-decoration: none;
}
.spSpaceUp{
    height: 10px;
    background-color: #1d3170;
    border-radius: 0px 0px 10px 0px;
}
.spSpaceDn{
    height: 10px;
    background-color: #1d3170;
    border-radius: 0px 10px 0px 0px;
}
.spoBg{
    background-color: #1d3170;
    cursor: pointer;
}
.spoRoom:hover{
    background-color: #1d3170;
}
.spoRoom:hover > .spOption{
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spoRoom:hover > div .spImg{
    background-image:url(s_room.png);
}
.spoTenant:hover{
    background-color: #1d3170;
}
.spoTenant:hover > .spOption{
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spoTenant:hover > div .spImg{
    background-image:url(s_tenant.png);
}
.spoRental:hover{
    background-color: #1d3170;
}
.spoRental:hover > .spOption{
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spoRental:hover > div .spImg{
    background-image:url(s_rental.png);
}
.spoFacilities:hover{
    background-color: #1d3170;
}
.spoFacilities:hover > .spOption{
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spoFacilities:hover > div .spImg{
    background-image:url(s_facilities.png);
}
.spoNotice:hover{
    background-color: #1d3170;
}
.spoNotice:hover > .spOption{
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spoNotice:hover > div .spImg{
    background-image:url(s_notice.png);
}
.spoReporting:hover{
    background-color: #1d3170;
}
.spoReporting:hover > .spOption{
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spoReporting:hover > div .spImg{
    background-image:url(s_issue.png);
}
.spoEntry:hover{
    background-color: #1d3170;
}
.spoEntry:hover > .spOption{
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spoEntry:hover > div .spImg{
    background-image:url(s_entry.png);
}
.spoRoom .spImg{
    background-image:url(room.png);
}
.spoTenant .spImg{
    background-image:url(tenant.png);
}
.spoRental .spImg{
    background-image:url(rental.png);
}
.spoFacilities .spImg{
    background-image:url(facilities.png);
}
.spoNotice .spImg{
    background-image:url(notice.png);
}
.spoReporting .spImg{
    background-image:url(issue.png);
}
.spoEntry .spImg{
    background-image:url(entry.png);
}
.spOption{
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.spoChoose{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    padding-left: 10px;
    width: 55px;
    background-color: #f2f2f2;
    border-radius: 20px 0px 0px 20px;
    color: black;
}
.spOption .spImg{
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.spOption p{
    display:inline-block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-bottom: 5px;
}
.content{
    padding-top:64px;
    padding-left:74px;
    margin-left: calc( calc(100vw - 1240px - 74px) / 2 ); 
    margin-right: calc( calc(100vw - 1240px - 74px) / 2 ); 
    min-height: calc(100vh - 84px);
    width: 1240px;
}
@media only screen and (max-width: 1280px) { 
    .content{
        margin-left:0px;
        margin-right:0px;
    }
}
.cHeader{
    width: calc(100% - 80px * 2);
    height: 30px;
    padding: 10px 30px 10px 30px;
    margin: 20px 50px 20px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #cccccc;
}
.chTitle{
    font-size: 26px;
    font-weight: bold;
    display: inline;
    cursor: default;
}
.cBody{
    width: calc(100% - 80px * 2);
    padding: 10px 30px 10px 30px;
    margin: 20px 50px 20px 50px;
    min-height: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 12px #cccccc;
}
.cbContent{
    margin: 20px;
    width: calc(100% - 40px);
}

.logoutIcon:hover{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter:         drop-shadow(5px 5px 5px #222); 
}