.hSpaceLeft{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 10px 0px;
}
.hSpaceRight{
    width: 20px;
    height: 64px;
    background-color: #2c478e;
    border-radius: 0px 0px 0px 10px;
}
.noticeContent {
    width: 100%;
    min-height: 450px;
    border-collapse: collapse;
    border:0px solid transparent;
}
.noticeContent p{
    font-size: 16px;
    margin-top: 0px;
    margin-right: 30px;
}
.chTitle a{
    text-decoration: none;
    color: black;
}
.chTitle a:hover{
    color:#aaa;
    transition-duration: 0.6s;
}